<h1>編集画面</h1>
<%= form_with(model: @tip, local: true) do |form| %>
  <% if @tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
        <% @tip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %></br>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :detail %></br>
    <%= form.text_area :detail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to '戻る', tips_path %>