<h1>Tips紹介</h1>

<% if @tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
        <% @tip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h2>Tipsを投稿しよう</h2>
<p>Tipsを投稿することで、他のユーザーと情報を共有できます。</p>
<%= form_with model: @tip do |f| %>
  <h3>Tipsタイトル</h3>
  <%= f.text_field :title %>
  <h3>Tips詳細</h3>
  <%= f.text_area :detail %></br>
  <%= f.submit '投稿' %>
<% end %>